<select id="mapDropdown" [(ngModel)]="selectedValue" (selectionchange)="$event.target.value">
    <option value="5">2024</option>
    <option value="0">2023</option>
    <option value="1">2022</option>
    <option value="2">2021</option>
    <option value="3">2020</option>
    <option value="4">2019</option>
    <option value="5">2018</option>
    <option value="0">2017</option>
    <option value="1">2016</option>
    <option value="2">2015</option>
    <option value="3">2014</option>
    <option value="4">2013</option>
    <option value="5">2012</option>
</select>
<div id="map-with-routes" style="width: 90%; height: 500px"></div>
