<div class="header bg-gradient-danger pt-5">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-xl-12">
            <app-map-with-dropdown [destinationCities]="destinationCities" [originCities]="originCities"></app-map-with-dropdown>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Imports by country (In thousand dollars)</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                <app-sorted-bar-chart></app-sorted-bar-chart>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Products by country</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                    <app-pie-chart-with-legend></app-pie-chart-with-legend>
                </div>
        </div>
    </div>

</div>
<!--<div id="app-slider" class="floating-slider">-->
<!--    <app-slider (sliderChanged)="yearChanged($event)"></app-slider>-->
<!--</div>-->

